# Node.js
node_modules/
npm-debug.log
*.env

# Compiled binary addons
build/

# Logs
logs

# Docker
# Dockerfile
# .dockerignore
Dockerfile.dev

# Sequelize
/migrations/
/seeders/
/models/

# DB
blogaer_auth.db

# IDE/Editor specific
.vscode/
.idea/

# Miscellaneous
Thumbs.db
.DS_Store

# Other
src/utils/email-templates/html/*.html