# Node.js
node_modules/
npm-debug.log
*.env

# Compiled binary addons (Sequelize)
build/

# Logs
logs

# Docker
# Dockerfile
# .dockerignore
# Dockerfile.dev

# Sequelize
sequelize-config.js
/migrations/
/seeders/
/models/

# Build dir (Babel)
.dist

# IDE/Editor specific
.vscode/
.idea/

# Miscellaneous
Thumbs.db
.DS_Store

# GraalVM native image output
native-image-output/

# Other
src/utils/email-templates/html/*.html